<div class="add-cluster">
  <div class="add-cluster-title">Create new cluster</div>
  <form class="add-cluster-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameFormControl" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>IP Address</mat-label>
      <input matInput [formControl]="ipAddressFormControl" placeholder="IP">
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="onCreate()">Create new</button>

</div>
